body {
    background-color: #008080; /* Teal */
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    background-color: #004d4d; /* Darker teal */
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #ddd;
    border-bottom: 1px solid #fff; /* Hide bottom border for active tab */
}

.tab-content {
    display: none; /* Hide all content by default */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    margin-top: -1px; /* Overlap with the tab border */
}

.tab-content.active {
    display: flex; /* Use flexbox for layout */
}
.tab-content-inner-container {
    display: flex;
    width: 100%; /*needed to fill out the tab-content div*/
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Occupy available space */
    margin-right: 20px; /* Space between main and side containers */
}

.input-output-container {
    margin-bottom: 20px; /* Add spacing between input/output and suggestions */
}

.box-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #004d4d;
}

textarea, #bottomBoxGloss, #bottomBoxSurface, #bottomBoxSurfaceAnnotated, #sideBox, #bottomSideBox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in width */
    font-family: 'Roboto', sans-serif; /* Consistent font */
}

textarea,  #bottomBoxGloss, #bottomBoxSurface, #bottomBoxSurfaceAnnotated { 
  height: 200px;
}

#bottomBoxSurfaceAnnotated { 
  height: 300px;
}

#bottomBoxGloss, #bottomBoxSurface, #bottomBoxSurfaceAnnotated {
    background-color: #ffcc80; /* Light orange */
    overflow-y: auto; /* Scroll for long content */
}

#sideBox, #bottomSideBox  {
    background-color: #ffff99; /* Light yellow */
    white-space: pre-wrap;
    overflow-y: auto;
  height: auto;
}
#sideBox, #bottomSideBox, .suggestions-container {
    flex: 0 0 35%; /* Give suggestion containers fixed width. */
}
.suggestions-container {
    display: flex;
    flex-direction: column;

}

/* Slider styles */
.tabs {
    display: flex;
    align-items: center; /* Vertically align tabs and sliders */
}

.slider-container {
    display: flex;
    margin-left: 20px; /* Space between "About" tab and sliders */
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.slider-wrapper label {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.slider-with-labels {
    display: flex;
    align-items: center;
}

.slider-label {
    font-size: 0.8em;
    color: #333;
    margin: 0 10px;
}

.slider {
    position: relative;
    background-color: #ddd;
    width: 60px; /* Adjust width as needed */
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 3px; /* Adjust padding */
    transition: background-color 0.3s ease-in-out;
}

.slider-button {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.slider.flavor-hyp .slider-button {
    transform: translateX(30px); /* Adjust based on slider width and button width */
}

.slider.annotations-yes .slider-button {
    transform: translateX(30px); /* Adjust based on slider width and button width */
}

.slider.active {
    background-color: teal;
}


/* Styling for specific classes */
.bold { font-weight: bold; }
.partofspeech { color: grey; font-size: 11px; }
.nosurface { color: gray; }
.propernoun { color: blue; font-weight: bold; }
.not-found-compound-asterisk { color: blue; }
.gloss { color: teal; font-weight: bold; }  /* todo used for surfaces */
.surface { color: teal; font-weight: bold; }  /* todo unused */
.annotation {
  font-size: 0.8em; /* Adjust the value to make it smaller, e.g., 0.7em or 0.9em */
  color: grey; /* Or #808080 for a slightly darker grey */
}
.highlight { background-color: red; }
